<div class="single_product" style="background: #f2f2f2;">
  <div class="product_thumb">
    <a class="primary_img" href="product-details.html" style="background: #f2f2f2">
      {% assign product_item = "product-" | append: a  %}
      {{ product_item | placeholder_svg_tag: 'my-custom-class' }}
    </a>
    <div class="product_action">
      <div class="hover_action">
        <a  href="#"><i class="fa fa-plus"></i></a>
        <div class="action_button">
          <ul>
            <li><a title="add to cart" href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
            <li><a href="#" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
            <li><a href="#" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="quick_button">
      <a href="#" data-toggle="modal" data-target="#modal_box" title="quick_view">+ quick view</a>
    </div>
    <div class="product_sale">
      <span>-7%</span>
    </div>
  </div>
  <div class="product_content">
    <h3><a href="product-details.html">Product Title</a></h3>
    <span class="current_price">£60.00</span>
    <span class="old_price">£86.00</span>
  </div>
</div>