/* Newsletter PopUp */.subscribe_area > h2, .subscribe-content > h2 {
  color: #000000;
}
.subscribe_area > p, .subscribe-content > p {
  color: #666666;
}
.grid__item h1{
  color: ;
}
.subscribe-form-input {
  border: 1px solid #999999;
  color: #999999;
}
.subscribe-form-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999999 !important;
}
.subscribe-form-input::-moz-placeholder { /* Firefox 19+ */
  color: #999999 !important;
}
.subscribe-form-input:-ms-input-placeholder { /* IE 10+ */
  color: #999999 !important;
}
.subscribe-form-input:placeholder { /* Firefox 18- */
  color: #999999 !important;
}
.newsletter-btn {
  background: #000000 none repeat scroll 0 0;
  color: #fff;
}
.newsletter-btn:hover{
  background: #666666 none repeat scroll 0 0;
  color: #fff;
}
.popup_off{
  color: #999999;
}
.newsletter_popup_inner:before {
  background: #ffffff;
  opacity: 0.1;
}
.form-group.subscribe-form-group p {
  color: #000000;
}
/* Breadcurmb Banner */
.breadcrumbs, .breadcrumbs_area {
  background: #ffffff ;
    padding-top: 30px;
    padding-bottom: 0px;
    }
.overlay-bg::before {
  background: #000000 none repeat scroll 0 0;
  opacity: 0;
}
.breadcrumbs-title, .breadcrumb_content ul li:first-child > a {
  color: #999999;
}
.breadcrumb-list > li > a, .breadcrumb_content ul li:nth-child(n+2) a {
  color: #242424;
}
.breadcrumb-list > li::before {
  color: #242424;
}
.breadcrumb-list > li, .breadcrumb_content ul li:nth-child(n+2) a.active, .breadcrumb_content ul li:nth-child(n+2) span {
  color: #ff6a28;
}
@media (max-width: 767px) {
  .breadcrumbs {
    padding-top: 20px;
    padding-bottom: 0px;
  }
}
/* Top Bar Noticfication */

.top-notification-bar {
  background: #f4bbfa;
  background: -moz-linear-gradient(left, #f4bbfa 0%, #f4bbfa 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #f4bbfa), color-stop(100%, #f4bbfa));
  background: -webkit-linear-gradient(left, #f4bbfa 0%, #f4bbfa 100%);
  background: -o-linear-gradient(left, #f4bbfa 0%, #f4bbfa 100%);
  background: -ms-linear-gradient(left, #f4bbfa 0%, #f4bbfa 100%);
  background: linear-gradient(to right, #f4bbfa 0%, #f4bbfa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4bbfa', endColorstr='#f4bbfa', GradientType=1 );
    }

.notification-entry p a {
  background-color: #f29afa;
  border: 1px solid #000000;
  color: #000000;
}
.notification-entry p a:hover {
  background-color: #f29afa;
  border: 1px solid #000000;
  color: #000000;
}
.notification-close-btn {
  background-color: ;
  border: 1px solid rgba(0,0,0,0);
  color: #000000;
}
.notification-close-btn:hover{
  background-color: rgba(0,0,0,0);
  border: 1px solid rgba(0,0,0,0);
  color: #000000;
}

.notification-entry p {
  color: #000000;
}
.top-notification-bar::before {
  background: rgba(0, 0, 0, 0);
}
/* Typography */





@font-face {
  font-family: "Libre Franklin";
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/libre_franklin/librefranklin_n4.52f58bee85b3ed9230f7586fabcd39d764d4b5da.woff2?&hmac=0ba80758a0c9d71951db4d0ecae8fbd433ccedfdb61f7d66d686b9edb3d553ba") format("woff2"),
       url("https://fonts.shopifycdn.com/libre_franklin/librefranklin_n4.2300b55e95b4b328f7a2ab6fd4c9d3fec2957b9d.woff?&hmac=35580594f2dbd15089ca2524a93c285e38fe175cc391db123ab39693cb5ea539") format("woff");
}

@font-face {
  font-family: "Libre Franklin";
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/libre_franklin/librefranklin_n4.52f58bee85b3ed9230f7586fabcd39d764d4b5da.woff2?&hmac=0ba80758a0c9d71951db4d0ecae8fbd433ccedfdb61f7d66d686b9edb3d553ba") format("woff2"),
       url("https://fonts.shopifycdn.com/libre_franklin/librefranklin_n4.2300b55e95b4b328f7a2ab6fd4c9d3fec2957b9d.woff?&hmac=35580594f2dbd15089ca2524a93c285e38fe175cc391db123ab39693cb5ea539") format("woff");
}

@font-face {
  font-family: "Libre Franklin";
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/libre_franklin/librefranklin_n4.52f58bee85b3ed9230f7586fabcd39d764d4b5da.woff2?&hmac=0ba80758a0c9d71951db4d0ecae8fbd433ccedfdb61f7d66d686b9edb3d553ba") format("woff2"),
       url("https://fonts.shopifycdn.com/libre_franklin/librefranklin_n4.2300b55e95b4b328f7a2ab6fd4c9d3fec2957b9d.woff?&hmac=35580594f2dbd15089ca2524a93c285e38fe175cc391db123ab39693cb5ea539") format("woff");
}


html, body, input, textarea, button, select{
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p{
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* End Typography */
/* Custom and Customer Page */
.theme-default-margin, .shopify-challenge__container {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .theme-default-margin, .shopify-challenge__container{
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.create-custom-page{
  padding-top: 100px;
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .create-custom-page{
    padding-top: 80px;
    padding-bottom: 60px;
  }
}
/* End Custom Page */
/* QuickView */

/* End Quickview */
#scrollUp {
  color: #fff;
  background: #242424;
  border: 2px solid #fff;
  border-radius: 50px;
  
}
.top_right >ul>li:hover a:not([href]):not([tabindex]) {
  color: #747474;
}
.product_variant.quantity button {
  color: #fff;
}
.top_right>ul>li>a:hover, .dropdown_links li a:hover, .top_right ul li:hover > a:not([href]):not([tabindex]), .cart_link>a:hover, .middel_links ul li a:hover,
.product_container button:hover, .hover_action a:hover, .action_button ul li a:hover, .cart_info a:hover, .cart_remove a:hover, .blog_wrapper .owl-nav>div:hover,
.quick_button a:hover, .product_content h3 a:hover, .product_tab_button ul li a.active, .product_tab_button ul li a:hover, .author_name p span.themes,
.cart__table table tbody tr:last-child td:last-child, .header_six .top_right>ul>li>a:not([href]):not([tabindex]):hover, .blog_content h3 a:hover, .archive-sidebar li:hover a,
.header_six .top_right>ul>li>a:not([href]):not([tabindex]):hover, .header_six .top_right>ul>li:hover>a, .dropdown_box_setting .setting_list ul li a:hover,
.instagram_wrapper .owl-nav div:hover, .text_follow a:hover, .product_carousel .owl-nav div:hover, .header_five .middel_links>ul>li>a:hover, .sidebar_post .post_text h3 a:hover,
.widget_list>ul>li>a:hover, .widget_list>ul>li.active>a, .has-sub a:hover, .product_ratting .spr-badge-starrating .spr-icon, .product_d_meta span a:hover,
.list-product-collection.shop_area a:hover, .table_desc .cart_page table tbody tr td.product_remove a, .table_desc .cart_page table tbody tr td.product-price,
.table_desc .cart_page table tbody tr td.product_name a:hover, .swatch-element input:checked+label, .swatch-element>label:hover, .post_meta span a:hover, .spr-form-message-success,
.product_d_action ul li a:hover, .s-tab-zoom.owl-carousel .owl-nav div:hover, .blog_grid .blog_content h3.post_title a:hover, .blog_content a.read_more:hover,
.blog_details_wrapper .social_sharing ul li a:hover, .sidebar_widget.widget_categories ul li a:hover, span.spr-summary-actions a:hover, .spr-icon.spr-icon-star,
.breadcrumb_content ul li a:hover, .error_form h1, .error_form form button:hover {
  color: #ff6a28;
}
.theme-default-button:hover, .blog_icon a, .blog_info_inner .post__date, .blog_info_inner .post__date::before {
  background-color: #ff6a28;
}
.blog_icon a::after, .sidebar_widget.tags_widget ul li a:hover, .sidebar_widget.tags_widget ul li a.active {;
  border-color: #ff6a28;
}
.widget_list>ul>li>a:hover span, .widget_list>ul>li.active>a span, .tag_widget ul li a:hover, .tag_widget ul li.active a, .pagination ul li a:hover,
.pagination ul li.current, .pagination ul li a:not([href]):not([tabindex]):focus, .pagination ul li a:not([href]):not([tabindex]):hover, 
.product_variant.quantity button:hover, .prod_countdown .single-countdown, .single_product_affi .button:hover,
.sidebar_widget.tags_widget ul li a:hover, .sidebar_widget.tags_widget ul li a.active, .blog_comment_btn,
.product_info_button ul li a.active, .product_info_button ul li a:hover {
  background: #ff6a28;
  color: #fff;
}
.tag_widget ul li a:hover, .tag_widget ul li.active a, .table_desc .cart_page table thead tr th {
  border-color: #ff6a28;
}
.checkout_btn a, .coupon_inner button:hover, .contact-btn button {
  background: #ff6a28;
}
.checkout_btn a:hover, .blog_comment_btn:hover, .contact-btn button:hover {
  background: #242424;
}
.moo_separator {
  color: #242424 !important;
}
fieldset.spr-form-actions input.spr-button.spr-button-primary.button.button-primary.btn.btn-primary,
fieldset.spr-form-actions input.spr-button.spr-button-primary.button.button-primary.btn.btn-primary:active,
fieldset.spr-form-actions input.spr-button.spr-button-primary.button.button-primary.btn.btn-primary:focus {
  border: none;
  outline: none;
  box-shadow: none;
  background: #242424;
  color: #fff;
}
fieldset.spr-form-actions input.spr-button.spr-button-primary.button.button-primary.btn.btn-primary:hover,
button.shopify-payment-button__button.shopify-payment-button__button--unbranded, .error_form a {
  background: #ff6a28 !important;
}
button.shopify-payment-button__button.shopify-payment-button__button--unbranded:hover, .error_form a:hover {
  background: #242424 !important;
}
.view__work a:hover {
  background: #ff6a28;
  border-color: #ff6a28;
}