<div class="moo_section_margin">
  {% section 'product-template' %}
  {% section 'single-product-tab' %}
  {% section 'related-product' %}
  {% section 'upsell-product' %}
</div>

<script>
  $('.product_three_column4').owlCarousel({
    {% if settings.rtl_enable %}
    rtl: true,
    {% endif %}
    navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
    autoplay: true,
    loop: true,
    nav: true,
    autoplay: false,
    autoplayTimeout: 8000,
    items: 4,
    dots:false,
    responsiveClass:true,
    responsive:{
      0:{
        items:1,
      },
      320:{
        items:1,
      },
      768:{
        items:2,
      },
      992:{
        items:3,
      },
      1200:{
        items:3,
      },
      1366:{
        items:4,
      }
    }
  });
</script>